name: Validate

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  hacs:
    name: HACS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: hacs/action@main
        with:
          category: theme

  whiskers:
    name: Whiskers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: catppuccin/setup-whiskers@v2
      - run: whiskers home-assistant.tera --check themes/catppuccin.yaml
